html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
.appContainer{
  display: flex;
}
  /* /////ASIDE*/

  .asideContainer{
    width:16%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .gitHub i{
    font-size: 30px;
    background: rgb(172, 172, 172);
    padding:10px;
    rotation: 45deg;
    
  }
  .sizesContainer{
    margin-left:10%;
    margin-top:30%;

  }
.sizeFilters{
  display: flex;
  margin-bottom: 10px;
  margin-top:10px;
  width:80%;
  flex-wrap: wrap;
}
.sizes{
  display: flex;
  background: rgb(179, 179, 179);
  border-radius: 50%;
  width:30px;
  height:30px;
  padding:3px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin:5px;
}

.sizesNote{
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  width:195px;
}
.sizesStar{
  display: flex;
  border: 1px solid #555;
  width:100px;
  align-items: center;
}
.sizesStar button{
  width:50px;
}
.sizesStar div{
  width:50px;
  text-align: center;
}


/*//////MAIN  */
.mainContainer{
  margin-top:100px;
  width:70%;
  margin:auto;
  margin:100px;
}
.orderByLine{
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-bottom: 10px;
}
.productsFound{
  
}
.orderBy{
  display: flex;
  margin-right:80px;
}
.orderText{
  margin-right:10px;
}
.items{
  display: flex;
 flex-wrap: wrap;
 margin:10px;
 
}
select{
  height:30px;
  width:100px;
}
.pictures{
  margin:5px;
  border:1px solid white;
  display: flex;
  flex-direction: column;
  
  
}
.pictureContainer{
  width:25%;
  border:1px solid white;
}
.pictureContainer:hover{
  border:1px solid rgb(235,235,235);
}
.pictures {position: relative;}
.freeShipping{
  position: absolute;
  right:0px;
  top:10px;
  color:white;
  font-size: 12px;
  background:black;
  text-align: center;
  padding:5px;
  
}
.freeShippingHidden{
  color:transparent;
  background: transparent;
  position: absolute;
  right:0px;
  top:10px;
}


.itemTitle{
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width:90%;




}
.orItem{
  text-align: center;
  font-weight: bolder;
}
.itemPrice{
  text-align: center;
  font-size: 20px;
}
.itemPriceMultiple{
  text-align: center;
}
.itemAddToCart{
  width:90%;
  height:40px;
  text-align: center;
  font-size: 20px;
  color:white;
  background:black;
  line-height: 40px;
  margin:auto;
  margin-top:15px;
  margin-bottom: 30px;
}
.itemAddToCart:hover{
  background: rgb(231,181,35);
}

/*/////CART*/

.cartContainer{
  
  background: rgb(25,25,29);
}
.cart{

}
.cartDisplayButton{
 margin-left: 2px;
  width:20px;
  text-align: center;
  background:black;
  color:gold;

}
.cartItems{
  display: flex;
  margin-bottom: 20px;
  border: 1px solid rgb(76,75,78);
  justify-content: space-between;
  
}
.cartItems img{
  width:18%;
}
.itemTitleAndDescription{
  color:white;
}
.cartItemTitle{
  color:white;
  white-space: normal;
  font-size: 15px;


}
.cartItemStyle, .quantity{
  color:rgb(76,75,78);
}
.cartPriceContainer{
  text-align: end;
}
.cartPriceContainer>button{
  background: rgb(76,75,78);
  border:none
}
.cartPrice{
  color: gold;
  margin-bottom: 10px;
  margin-top:10px;
}
/* ///checkout area*/
.checkout{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.subTitle{
  padding-left:3px;
  color:rgb(76,75,78);
}
.subCalc{
  text-align: end;
  padding-right:3px;
}
.subTotal, .tax, .grandTotal{
  color:gold;
}
.subTotalInstallments{
  color:rgb(76,75,78);
}
.checkoutButton{
  width:90%;
  display: flex;
  margin:auto;
  justify-content: center;
  align-items: center;
  color:rgb(76,75,78);
  background:black;
  height:50px;
 
}